body {
    background: #e2e9e9;
}

html, body {
    font-family: Verdana, Arial, sans-serif;
}

.block {
    padding: 0;
    background-color: #eee;
}

.block h3 {
    margin: 0;
    padding: 8px;
    background: #fff;
    color: #C4242D;
    border-bottom: 2px solid #C4242D;
}

#data {
    display: flex;
    flex-direction: horizontal;
}

#data > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 200px;
}

#data textarea {
    height: 100%;
}

.page {
    display: flex;
}

menu {
    flex-grow: 1;
}

.menu h3, .result-content p {
    background: #fff;
    color: #C4242D;
    border-bottom: 2px solid #C4242D;
}

.result-content p {
    padding: 6px 16px;
    margin: 24px 0 12px;
}

.menu h3 {
    margin-bottom: 18px;
}

.result-content {
    margin: 0 12px;
    background-color: #fff;
}

#container {
    padding:  12px;
}


.menu .block, .result-content .block {
    padding: 0;
}

.menu .block {
    padding-bottom: 12px;
}

.menu .block > div {
    padding: 0 12px 6px 6px;
}


.buttons {
    background-color: #C4242D;
    color: #fff;
    font-size: 28px;
    width: 100%;
    height: 50px;
    border: none;
    margin: 12px 0;
}
.canvas2d {
    border: 1px solid black;
}


.canvas3d {
    height: auto;
    width: 100%;
}

.depthcontainer{
    display: block;
    padding-left: 20px;
}
