.canvas2d {
    border: 1px solid black;
}


.canvas3d {
    height: 350px;
    border: 1px solid black;
}

.block {
    margin: 5px;
    padding: 0;
    background-color: #eee;
    border: 1px solid #444;
}

.block h3 {
    margin: 0;
    padding: 3px 5px;
    margin-bottom: 5px;
    background: #444;
    color: #FFF;
}

.buttons {
    background-color: #8DE969;
    width: 100%;
    height: 50px;
    border: none;
}

#generated-data .depthcontainer{
    display: block;
    padding-left: 20px;
}

textarea {
    display: block;
    height: 100%;
}

.page {
    display: flex;
}

.menu {
    flex-grow: 1;
}

.menu h3, .result-content p {
    margin: 0;
    padding: 3px 5px;
    margin-bottom: 5px;
    background: #444;
    color: #FFF;
}

.menu .block, .result-content .block {
    padding: 0;
}

.menu .block > div {
    padding: 0 10px 5px 5px;
}

.result-content {
    padding: 10px;
    flex-grow: 0;
    text-align: center;
}

#data {
    display: flex;
    flex-direction: horizontal;
}

#data > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 200px;
}
